.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 50px;
  margin-top: 20px;
}

.label {
  display: block;
  padding: 8px 20px;
  margin-bottom: 20px;
  background-color: floralwhite;
  border: none;
  border-radius: 6px;
}

.input {
  display: block;
  margin-bottom: 20px;
}

.button {
  margin-bottom: 20px;
  padding: 8px 20px;

  cursor: pointer;

  background-color: cornflowerblue;
  border: none;
  border-radius: 6px;
}

.button:hover {
  background-color: forestgreen;
}
